In [1]:
# API to collect new "covid" comments on Reddit each day since the latest 300 days
# http://api.pushshift.io/reddit/search/comment/?q=covid&after=300d&aggs=created_utc&frequency=day&size=0&sort=asc

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
raw = pd.read_csv("covid_reddit.csv")

In [4]:
raw.head()

   aggs__created_utc__doc_count  aggs__created_utc__key
0                             1              1575763200
1                             0              1575849600
2                             0              1575936000
3                             0              1576022400
4                             0              1576108800